[Desktop Entry]
Name=NetExec
Comment=NetExec (terminal)
Exec=env X47_TERM_SIZE=tool $HOME/.local/bin/wezterm start --always-new-process --class nxc -- bash -lc "nxc; exec bash"
Icon=kali-netexec
Terminal=false
Type=Application
Categories=Network;Security;
Keywords=pentest;security;hacking;nxc;
StartupWMClass=nxc
