[Desktop Entry]
Name=chisel
Comment=chisel (terminal)
Exec=env X47_TERM_SIZE=tool $HOME/.local/bin/wezterm start --always-new-process --class chisel -- bash -lc "chisel; exec bash"
Icon=kali-chisel
Terminal=false
Type=Application
Categories=Network;Security;
Keywords=pentest;security;hacking;chisel;
StartupWMClass=chisel
