[Desktop Entry]
Name=HTTPie
Comment=HTTPie (terminal)
Exec=env X47_TERM_SIZE=tool $HOME/.local/bin/wezterm start --always-new-process --class http -- bash -lc "http; exec bash"
Icon=x47-http
Terminal=false
Type=Application
Categories=Development;Utility;
Keywords=pentest;security;hacking;http;
StartupWMClass=http
