[Desktop Entry]
Name=lazygit
Comment=lazygit (terminal)
Exec=env X47_TERM_SIZE=tool $HOME/.local/bin/wezterm start --always-new-process --class lazygit -- bash -lc "lazygit; exec bash"
Icon=x47-lazygit
Terminal=false
Type=Application
Categories=Development;Utility;
Keywords=pentest;security;hacking;lazygit;
StartupWMClass=lazygit
