[Desktop Entry]
Name=enum4linux-ng
Comment=enum4linux-ng (terminal)
Exec=env X47_TERM_SIZE=tool $HOME/.local/bin/wezterm start --always-new-process --class enum4linux-ng -- bash -lc "enum4linux-ng; exec bash"
Icon=kali-enum4linux-ng
Terminal=false
Type=Application
Categories=Network;Security;
Keywords=pentest;security;hacking;enum4linux-ng;
StartupWMClass=enum4linux-ng
