[Desktop Entry]
Name=lazygit
Comment=lazygit (terminal)
Exec=$HOME/.local/bin/wezterm --config initial_cols=170 --config initial_rows=45 start --always-new-process --class lazygit -- bash -lc "lazygit; exec bash"
Icon=x47-lazygit
Terminal=false
Type=Application
Categories=Development;Utility;
Keywords=pentest;security;hacking;lazygit;
StartupWMClass=lazygit
