[Desktop Entry]
Name=FFUF
Comment=FFUF (terminal)
Exec=$HOME/.local/bin/wezterm --config initial_cols=170 --config initial_rows=45 start --always-new-process --class ffuf -- bash -lc "ffuf; exec bash"
Icon=kali-ffuf
Terminal=false
Type=Application
Categories=Network;Security;
Keywords=pentest;security;hacking;ffuf;
StartupWMClass=ffuf
