[Desktop Entry]
Name=wafw00f
Comment=wafw00f (terminal)
Exec=$HOME/.local/bin/wezterm --config initial_cols=170 --config initial_rows=45 start --always-new-process --class wafw00f -- bash -lc "wafw00f; exec bash"
Icon=kali-wafw00f
Terminal=false
Type=Application
Categories=Network;Security;
Keywords=pentest;security;hacking;wafw00f;
StartupWMClass=wafw00f
