[Desktop Entry]
Name=uv
Comment=uv (terminal)
Exec=env X47_TERM_SIZE=tool $HOME/.local/bin/wezterm start --always-new-process --class uv -- bash -lc "uv; exec bash"
Icon=x47-uv
Terminal=false
Type=Application
Categories=Development;Utility;
Keywords=pentest;security;hacking;uv;
StartupWMClass=uv
