[Desktop Entry]
Name=delta
Comment=delta (terminal)
Exec=$HOME/.local/bin/wezterm --config initial_cols=170 --config initial_rows=45 start --always-new-process --class delta -- bash -lc "delta; exec bash"
Icon=x47duster
Terminal=false
Type=Application
Categories=Development;Utility;
Keywords=pentest;security;hacking;delta;
StartupWMClass=delta
