[Desktop Entry]
Name=trufflehog
Comment=trufflehog (terminal)
Exec=$HOME/.local/bin/wezterm --config initial_cols=170 --config initial_rows=45 start --always-new-process --class trufflehog -- bash -lc "trufflehog; exec bash"
Icon=x47duster
Terminal=false
Type=Application
Categories=Network;Security;
Keywords=pentest;security;hacking;trufflehog;
StartupWMClass=trufflehog
