[Desktop Entry]
Name=fd
Comment=fd (terminal)
Exec=env X47_TERM_SIZE=tool $HOME/.local/bin/wezterm start --always-new-process --class fd -- bash -lc "fd; exec bash"
Icon=x47-fd
Terminal=false
Type=Application
Categories=Development;Utility;
Keywords=pentest;security;hacking;fd;
StartupWMClass=fd
