[Desktop Entry]
Name=delta
Comment=delta (terminal)
Exec=env X47_TERM_SIZE=tool $HOME/.local/bin/wezterm start --always-new-process --class delta -- bash -lc "delta; exec bash"
Icon=x47-delta
Terminal=false
Type=Application
Categories=Development;Utility;
Keywords=pentest;security;hacking;delta;
StartupWMClass=delta
