[Desktop Entry]
Name=Arjun
Comment=Arjun (terminal)
Exec=env X47_TERM_SIZE=tool $HOME/.local/bin/wezterm start --always-new-process --class arjun -- bash -lc "arjun; exec bash"
Icon=kali-arjun
Terminal=false
Type=Application
Categories=Network;Security;
Keywords=pentest;security;hacking;arjun;
StartupWMClass=arjun
