[Desktop Entry]
Name=Masscan
Comment=Masscan (terminal)
Exec=env X47_TERM_SIZE=tool $HOME/.local/bin/wezterm start --always-new-process --class masscan -- bash -lc "masscan; exec bash"
Icon=kali-masscan
Terminal=false
Type=Application
Categories=Network;Security;
Keywords=pentest;security;hacking;masscan;
StartupWMClass=masscan
