[Desktop Entry]
Name=HTTPie
Comment=HTTPie (terminal)
Exec=$HOME/.local/bin/wezterm --config initial_cols=170 --config initial_rows=45 start --always-new-process --class http -- bash -lc "http; exec bash"
Icon=x47-http
Terminal=false
Type=Application
Categories=Development;Utility;
Keywords=pentest;security;hacking;http;
StartupWMClass=http
