[Desktop Entry]
Name=Nuclei
Comment=Nuclei (terminal)
Exec=env X47_TERM_SIZE=tool $HOME/.local/bin/wezterm start --always-new-process --class nuclei -- bash -lc "nuclei; exec bash"
Icon=kali-nuclei
Terminal=false
Type=Application
Categories=Network;Security;
Keywords=pentest;security;hacking;nuclei;
StartupWMClass=nuclei
