[Desktop Entry]
Name=bat
Comment=bat (terminal)
Exec=env X47_TERM_SIZE=tool $HOME/.local/bin/wezterm start --always-new-process --class bat -- bash -lc "bat --paging=always; exec bash"
Icon=x47-bat
Terminal=false
Type=Application
Categories=Development;Utility;
Keywords=pentest;security;hacking;bat;
StartupWMClass=bat
