[Desktop Entry]
Name=Amass
Comment=Amass (terminal)
Exec=env X47_TERM_SIZE=tool $HOME/.local/bin/wezterm start --always-new-process --class amass -- bash -lc "amass; exec bash"
Icon=kali-amass
Terminal=false
Type=Application
Categories=Network;Security;
Keywords=pentest;security;hacking;amass;
StartupWMClass=amass
