[Desktop Entry]
Name=Waybackurls
Comment=Waybackurls (terminal)
Exec=$HOME/.local/bin/wezterm --config initial_cols=170 --config initial_rows=45 start --always-new-process --class waybackurls -- bash -lc "waybackurls; exec bash"
Icon=kali-cool-waybackurls
Terminal=false
Type=Application
Categories=Network;Security;
Keywords=pentest;security;hacking;waybackurls;
StartupWMClass=waybackurls
