[Desktop Entry]
Name=Responder
Comment=Responder (terminal)
Exec=env X47_TERM_SIZE=tool $HOME/.local/bin/wezterm start --always-new-process --class responder -- bash -lc "sudo responder -I eth0; exec bash"
Icon=kali-responder
Terminal=false
Type=Application
Categories=Network;Security;
Keywords=pentest;security;hacking;responder;
StartupWMClass=responder
