[Desktop Entry]
Name=eza
Comment=eza (terminal)
Exec=env X47_TERM_SIZE=tool $HOME/.local/bin/wezterm start --always-new-process --class eza -- bash -lc "eza -la; exec bash"
Icon=x47-eza
Terminal=false
Type=Application
Categories=Development;Utility;
Keywords=pentest;security;hacking;eza;
StartupWMClass=eza
