[Desktop Entry]
Name=kerbrute
Comment=kerbrute (terminal)
Exec=$HOME/.local/bin/wezterm --config initial_cols=170 --config initial_rows=45 start --always-new-process --class kerbrute -- bash -lc "kerbrute; exec bash"
Icon=x47duster
Terminal=false
Type=Application
Categories=Network;Security;
Keywords=pentest;security;hacking;kerbrute;
StartupWMClass=kerbrute
