[Desktop Entry]
Name=smbmap
Comment=smbmap (terminal)
Exec=$HOME/.local/bin/wezterm --config initial_cols=170 --config initial_rows=45 start --always-new-process --class smbmap -- bash -lc "smbmap; exec bash"
Icon=kali-smbmap
Terminal=false
Type=Application
Categories=Network;Security;
Keywords=pentest;security;hacking;smbmap;
StartupWMClass=smbmap
