[Desktop Entry]
Name=zoxide
Comment=zoxide (terminal)
Exec=env X47_TERM_SIZE=tool $HOME/.local/bin/wezterm start --always-new-process --class zoxide -- bash -lc "zoxide; exec bash"
Icon=x47-zoxide
Terminal=false
Type=Application
Categories=Development;Utility;
Keywords=pentest;security;hacking;zoxide;
StartupWMClass=zoxide
